<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<ul>
    <li>
        <a th:href="@{/params/string(text='Hello Spring')}">/params/string?text=Hello Spring</a>
    </li>
    <li>
        <a th:href="@{/params/string(text='Hello Boot')}">/params/string?text=Hello Boot</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(text='Hello Params',number = 5)}">/params/mix-params?text=Hello Params&number=5</a>
    </li>

    <li>
        <a th:href="@{/params/mix-params-request(text='Hello Params Request',number = 7)}">/params/mix-params?text=Hello Params Request&number=7</a>
    </li>

</ul>
</body>
</html>